body {font-family:helvetica Neue;font-weight: 50;
line-height: 1.6em color: #454545;}
h1 {font-weight:50; margin-top: 2px;
  width: 450px;
  margin: auto;
  font-size: 12;
  }
h3 {
    opacity: 1;
    display: block;
    width: 50%;
    height: 50%;
    text-align: center;
    /*vertical-align: middle;*/
    margin: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 1px;
    /*top: 200px;*/
    position: relative;

    font-size: 35px;
  }
  font-size: 14;}
h2 {font-family:helvetica Neue;font-weight:50;align-items: left}
ul {font-size: 14px}
a{color: #454545;helvetica Neue;}



nav ul li {display: inline-block; list-style-type: none; padding: 20px 40px 2px 0px;align-items: left}


p {padding:0px 150px 30px 180px}

.app
{
  width: 360px;

}
p.pa {
  color: rgba(80,80,80,100);
  font-family:helvetica Neue;
  text-align: left;
  /*vertical-align: middle;*/
  width: 450px;
  text-indent: 50px;
  position: relative;
  /*top: 180px;*/
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}



/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ffa3e6;
    color: white;
}





mark {
    background-color: rgba(230,230,230,0);
    color: white;
}

hr {
    display: block;
    color: #787878;
    margin-top: 100px;
    /*margin-left: auto;
    margin-right: auto;*/
    height: 30px;
    width: 85%;
  	border-style: solid;
  	border-color: #8c8b8b;
  	border-width: 1px 0 0 0;
  	border-radius: 20px;
}


div#color {
  margin: auto;
  display: flex;
  /*top: 250px;*/
  position: relative;
  /* This centers our sketch horizontally. */
  justify-content: center;
  margin-bottom: 10px;

  /* This centers our sketch vertically. */
  /*align-items: center;*/
}



div#neighborhood {
  margin: auto;
  display: flex;
  /*top: 280px;*/
  position: relative;
  /*width: 80%;*/
  /* This centers our sketch horizontally. */
  justify-content: center;
  z-index: 1000;
  margin-bottom: 10px;
  /* This centers our sketch vertically. */
  /*align-items: center;*/
  align-items: center;
}

div#lot {
  margin: auto;
  display: flex;
  /*top: 400px;*/
  position: relative;
  /* This centers our sketch horizontally. */
  justify-content: center;
  z-index: 1000;
  margin-bottom: 10px;
  /* This centers our sketch vertically. */
  /*align-items: center;*/
  align-items: center;
}

div#button {
  background-color:#44c767;
  	-moz-border-radius:28px;
  	-webkit-border-radius:28px;
  	border-radius:28px;
  	border:1px solid #18ab29;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:17px;
  	padding:16px 31px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #2f6627;
}

div#weather {
  font-family:helvetica Neue;
  margin: auto;
  display: flex;
  /*top: 280px;*/
  position: relative;
  /*width: 80%;*/
  /* This centers our sketch horizontally. */
  justify-content: center;
  z-index: 1000;
  margin-bottom: 10px;
  /* This centers our sketch vertically. */
  /*align-items: center;*/
  align-items: center;
}

input#city {
  font-family:helvetica Neue;
  width: 150px;
  height: 50px;
  border-width: 2px;
  border-color: #DCABBA;
  margin-right: 5px;
  border-style: solid;
  font-size: 17px;
  text-align: center;

  color:#DCABBA;
}

button#submit {
  background-color:#DCABBA;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #r;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}








/* weather section */
.weather {
	border:1px solid white;
	margin-top: 10rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	color: white;
}

.weather-head {
	height: 50%;
}

#icon-desc {
	font-size: 5rem;
	padding-top: 2rem;
}

.humidity, .wind, .visibility {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 1.5rem;

}

#description {
	font-size: 2rem;
}

#temperature {
	font-size: 7rem;
}

#icon-thermometer {
	font-size: 5rem;
}

#humidity, #wind, #visibility {
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
